@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root{
    --cor0: #2D44A8;
    --cor1: #19255C;
    --cor2: rgba(255, 255, 255, 0.705);
    --cor3: rgba(255, 255, 255, 0.226);
    --fonte-geral: 'Rajdhani', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--fonte-geral);
}

header{
    height: auto;
    overflow: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
    background: url("../video/bg-video.mp4") no-repeat center;
    background-size: cover;
}

.formulario{
    max-width: 300px;
}

.formulario:first-child{
    text-align: center;
}

strong{
    font-weight: bolder;
}

fieldset legend{
    color: #FFFFFF;
    margin-bottom: 50px;
    font-size: 2em; 
}

fieldset fieldset{
    width: 49.5%;    
}

.fieldset-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fieldset-input{
    display: inline-block;
}

form label{
    color: #FFFFFF;
    display: block;
    cursor: pointer;
}

.campo-input{
    background-color: var(--cor3);
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    height: 50px;
    outline: 0;
    border: none;
    display: block;
}

.input-submeter{
    margin: .7% 0px;
    border: none;
    font-size: 1.3em;
    font-weight: bolder;
    height: 50px;
    color: #FFFFFF;
    background-color: var(--cor0);
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.input-submeter:hover{
    color: var(--cor0);
    background-color: #FFFFFF;   
}

.lembrar-label{
    padding-top: 5px;
    text-align: left;
    color: #FFFFFF;
    font-size: .9em;
}

.link-recuperar-senha{
    text-align: center;
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 2em;
    color: var(--cor2);
    transition: .3s;
    text-decoration: none;
    border-top: 1px solid var(--cor2);
    border-bottom: 1px solid var(--cor2);
}

.link-recuperar-senha:hover{
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
