.main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width: 1024px){
    .main{
        background-color: var(--bg-color-responsive)
    }
}